/* BACKGROUND */
body {
  background-color: var(--background-colour);
  font-size: 20px;
  color: var(--text-colour-primary);
  margin: 0;
  overflow-x: hidden;
}

/* ======================= HEADER STYLE ======================= */
/* Header containing a logo and links */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: linear-gradient(to bottom, var(--background-colour) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 5;
  user-select: none;
}

/* LOGO STYLE */
.site-logo img {
  height: 4rem;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.site-logo img:hover {
  transform: scale(1.1);
}

/* LINK STYLE */

.navbar {
    z-index: 5;
}
.navbar-nav {
  list-style: none;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.navbar-nav li {
  margin-left: 2rem;
  margin-right: 0;
}

.navbar-nav li a {
  color: var(--text-colour-primary);

  text-decoration: none;
  font-size: 0.9rem;
}

.navbar-nav li a:hover {
  color: var(--text-colour-primary);
  text-decoration: none;
  font-weight: bold;
}

.navbar-toggler {
    border-width: 0px;
}

.navbar-toggler:focus {
  border-width: 0px !important;
  outline: none;
  box-shadow: none;
}

.navbar-collapse {
    align-items: end;
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu {
  font-size: 30px;
  cursor: pointer;
}

.hamburger-menu:hover {
  font-weight: bold;
}

.overlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: var(--background-colour);
    background-color: var(--background-colour-alpha);

    overflow-x: hidden;
    transition: 0.5s;
  }

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--text-colour-secondary);

    display: block;
    transition: 0.3s;
  }
  
.overlay a:hover, .overlay a:focus {
    color: var(--text-colour-hover);

  }
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }