
html, body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.chatpage-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--background-colour-secondary);
}

.logo-image {
    max-width: 4rem;
    margin-top: 10px;
}

.convo-list {
    overflow-x: hidden;
    overflow-y: auto;
    width: 9rem;
    height: 100%;
    background-color: var(--background-colour);
}

.chatroom-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.scrollbar {
    flex: 9;
    overflow-y: auto;
    height:100%;
    padding: 0 5%;
}


::-webkit-scrollbar {
    width: 10px;
}
.convo-list::-webkit-scrollbar {
    width:0px
}

::-webkit-scrollbar-track {
    background-color: var(--background-colour-secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground-purple);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--foreground-purple-hover);
}

.chat-history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* padding and position of the chatbox */
.chatbox-area {
    flex-grow: 1;
    padding: 10px 3%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chatbox {
    /*border: 2px solid #444;*/
    border-radius: 10px;
    padding: 5px 5px;
    background-color: var(--foreground-blue);
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 70%;
    align-items: center;
}

.chatbox textarea, .chatbox textarea:focus {
    /* Remove default styling */
    overflow: auto;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;  /* Stop user from resizing it */

    width: 100%;
    height: 100%;
    background-color: var(--background-colour);
    color: var(--text-colour-primary);
    padding: 10px 20px;   /* Fake vertical alignment */
    border-radius: 15px;
}


.chatbox button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;  /* centre icon inside the button */
    align-items: center;
    justify-content: center;  /* center the icon */
    border: none;
}

.chatbox i {
    color: var(--text-colour-primary);
}

.msg-user-wrapper {
    padding: 15px;
    padding-left: 30px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.msg-bot-wrapper {
    padding: 15px;
    padding-right: 30px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.speech-bubble {
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 60%;
    background-color: var(--foreground-blue);
    display: inline-block;
    height: 100%;
    position: relative;
}

@media (max-width: 576px) {
    .speech-bubble{
        margin-left: 0%;
        margin-right: 0%;
        max-width: 80%;
    }
}

.speech-bubble p {
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    max-width: 100%;
    max-height: 100%;
}


/* https://projects.verou.me/bubbly/ */
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--foreground-blue);
	border-bottom: 0;
	margin-bottom: -20px;
}

.msg-bot-wrapper .speech-bubble:after {
    left: 10%;
	border-left: 0;
}

.msg-user-wrapper .speech-bubble:after {
    right: 10%;
	border-right: 0;
}

/* Name Title */
#name-title {
    font-size: 3em;
    font-weight: bold;
    color: var(--text-colour-secondary);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 20px;
}



/* Conversation */

.conversation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversation-container img {
    width: 4rem;
    transition: 0.2s;
}

.conversation-container h5 {
    font-size: 1rem;
}

.conversation-container:hover {
    background-color: var(--background-colour-secondary);
}

.conversation-container:hover > h5 {
    font-weight: bold;
}

/* Selected Conversation */
.selected {
    background-color: var(--foreground-purple);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.selected:hover {
    background-color: var(--foreground-purple-hover);
}
.selected img {
    width: 5rem;
}
  

#new-chat {
    background-color: var(--foreground-blue);
    border: none;
    color: var(--text-colour-primary);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  #new-chat:hover {
    background-color: var(--foreground-blue-hover);
  }

  @media screen and (max-width: 576px) {
    .convo-list {
        width: 5.8rem;
    }

    .conversation-container h5 {
        display: None;
    }
    #new-chat {
        width: 80%;
    }
  }