/* ======================= COLOUR PALETTE ======================= */
:root {
    --background-colour: rgb(6, 3, 19);
    --background-colour-secondary: rgb(32, 9, 41);
    --background-colour-alpha: rgba(6, 3, 19, 0.96);

    --foreground-purple: rgb(162, 73, 165);
    --foreground-purple-hover: rgb(178, 104, 180);

    --foreground-blue: rgb(75, 82, 143);
    --foreground-blue-hover: rgb(102, 110, 173);

    --text-colour-primary: aliceblue;
    --text-colour-secondary: #818181;
    --text-colour-hover: #f1f1f1;
    --gradient-colour-one: rgb(189, 119, 245);
    --gradient-colour-two: rgb(79, 93, 226);
    --gradient-colour-one-alpha: rgba(189, 119, 245, 0.6);
    --gradient-colour-two-alpha: rgba(79, 93, 226, 0.6);
    --default-gradient: linear-gradient(to bottom, var(--gradient-colour-one), var(--gradient-colour-two));
    --error-colour: #ffcccb;
  }