/* ======================= SOCIAL MEDIA ================================ */
/* Side bar with social media icons */
.sidebar {
  position: fixed;
  top: 13%;
  right: 0;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: var(--gradient-colour-two);
  z-index: 998;
  overflow: hidden;
  transition: height 0.5s;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  animation: slide-in 1s ease;
}


.social-media-icons a {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  text-decoration: none;
}

.social-media-icons i {
  color: var(--text-colour-primary);
  font-size: 30px;
  transition: transform 0.3s ease;
}

.social-media-icons i:hover {
  transform: scale(1.2);
  color: var(--gradient-colour-one);
}

.sidebar:hover {
  height: 120px;
}

.sidebar:hover a {
  opacity: 1;
}

.sidebar span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-colour-primary);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.sidebar:hover span {
  opacity: 1;
  transform: translateY(0) rotate(-90deg);
}

.page-content {
  height: 100%;
  width: 100%;
}

.description {
  padding: 40px 10%;
}

.decription-title {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}


/* =========================== Top banner ======================== */
/* Top part of the page that greets the user */
.top-banner {
    user-select: none;
    width: 100%;
    padding: 35px;
    padding-top: 120px;
    align-items: center;      /* Align vertically */
    justify-content: center;  /* Align horizontally */
    flex-direction: column;  

    /* Fade to black at bottom */
    background-image: linear-gradient(to bottom, transparent, var(--background-colour)), url("https://wallpapers.com/images/featured/y3r21iaunx6u3tml.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 90svh;
}


/* Box container for the banner text */
.top-banner-inner {
    width: auto;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.banner-text {
  display: flex;
  flex-direction: column;
}

.banner-image {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 70px 0 0 0;
}

.banner-slogan {
  font-size: 5rem;
  width: fit-content;
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.banner-byline {
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
  min-height: 30px;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;

}

@media screen and (max-width: 992px) {
  .banner-slogan {
    font-size: 4rem;
  }
  .banner-byline {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .top-banner-inner {
    text-align: center;
  }
}


/* =========================== Reviews ======================== */
.review-box {
  display: flex;
  margin: 20px;
  margin-bottom: 4rem;
}

.review-additions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-profile {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.speech-bubble {
  position: relative;
  background-color: var(--foreground-blue);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  height: 100%;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--foreground-blue) transparent transparent;
  transform: translateY(-50%);
}

.speech-bubble p {
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 100%;
  max-height: 100%;
}

.score {
  display: flex;
  align-items: center;
}

.score img {
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .review-additions {
    flex-direction: row;
  }

  .review-box {
    flex-direction: column;
  }
  
  .review-profile {
    width: 12rem;
    height: 12rem;
  }
}



