
/* ======================= HEADER STYLE ======================================= */
/* Header containing a logo and links */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: transparent;
  z-index: 999;
  user-select: none;
}


/* LOGO STYLE */
.site-logo img {
  height: 4rem;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.site-logo img:hover {
  transform: scale(1.1);
}

/* LINK STYLE */
.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-nav li {
  margin-left: 2rem;
  margin-right: 0;
}

.navbar-nav li a {
  color: var(--text-colour-primary);
  text-decoration: none;
  font-size: 0.9rem;
}

.navbar-nav li a:hover {
  color: var(--text-colour-primary);
  text-decoration: none;
  font-weight: bold;
}

/* ======================= SOCIAL MEDIA ================================ */
/* Side bar with social media icons */
.sidebar {
  position: fixed;
  top: 13%;
  right: 0;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: var(--default-gradient);
  z-index: 998;
  overflow: hidden;
  transition: height 0.5s;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  animation: slide-in 1s ease;
}


.social-media-icons a {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  text-decoration: none;
  color: var(--text-colour-primary);
}

.social-media-icons i {
  font-size: 30px;
  transition: transform 0.3s ease;
}

.social-media-icons i:hover {
  transform: scale(1.2);
}

.sidebar:hover {
  height: 120px;
}

.sidebar:hover a {
    opacity: 1;
}

.sidebar span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-colour-primary);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.sidebar:hover span {
  opacity: 1;
  transform: translateY(0) rotate(-90deg);
}

/* =========================== Top banner ======================== */
/* Top part of the page that greets the user */
.top-banner {
    user-select: none;
    width: 100%;
    padding: 35px;
    padding-top: 120px;
    align-items: center;      /* Align vertically */
    justify-content: center;  /* Align horizontally */
    flex-direction: column;  

    /* Fade to black at bottom */
    background-image: linear-gradient(to bottom, transparent, var(--background-colour)), url("https://wallpapers.com/images/featured/y3r21iaunx6u3tml.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
}


/* Box container for the banner text */
.top-banner-inner {
    width: auto;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.banner-text {
  display: flex;
  flex-direction: column;
}

.banner-image {
  max-height: 700px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.banner-slogan {
  font-size: 5rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  justify-content: center;
  text-align: center;
  
}

.banner-byline {
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;

}

@media screen and (max-width: 992px) {
  .banner-slogan {
    font-size: 4rem;
  }
  .banner-byline {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .top-banner-inner {
    text-align: center;
  }
}

