body {
    background-color: var(--background-colour);
    color: var(--text-colour-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-family: "Open Sans", sans-serif;*/
  }

  .fullscreen-container {
    display: flex;
    align-items: center;
    height: 100svh;
  }
  
  p {
    font-size: clamp(12px, 1.5vw, 16px);
  }

  #signup-box,
  #login-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    background: var(--background-colour);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px var(--background-colour);
  }
  
  #left {
    color: var(--text-colour-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.gifer.com/QWc9.gif);
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  
  #left .login-overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: var(--gradient-colour-two-alpha);
    overflow: hidden;
    box-sizing: border-box;
  }
  
  #left .signup-overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: var(--gradient-colour-one-alpha);
    overflow: hidden;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: clamp(70px, 10vw, 100px);
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  #right {
    padding: 40px;
    overflow: hidden;
    background-color: var(--text-colour-primary);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  /*
    @media (max-width: 980px) {
      .box-form .right {
        width: 100%;
      }
    }
    */
  
  #right p {
    color: var(--text-colour-secondary);
  }
  
  .input-data {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: clamp(15px, 2vh, 24px);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--text-colour-secondary);
  }
  
  @media (max-width: 769px) {
    #signup-box,
    #login-box {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
    #left {
      border-top-right-radius: 40px;
      border-bottom-left-radius: 0px;
      width: 100%;
    }
    #left p {
        display: None;
    }
    #right {
      border-bottom-left-radius: 40px;
      border-top-right-radius: 0px;
      width: 100%;
      padding: 15px;
    }
  }