<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Placeholder{% endblock %}</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <!-- Latest compiled Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='base.js')  }}"> </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='colours.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  {% block css %} {% endblock %}
  {% block script %} {% endblock %}

</head>

<body>
{% block header %}
  <header>
    <!-- screen overlay -->
    <div class="overlay" id="overlay-nav">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <div class="overlay-content">
        <a href="{{ url_for('.about') }}">About</a>
        <a href="{{ url_for('.chat') }}">Chat</a>
        <a href="{{ url_for('.login') }}">Login</a>
        <a href="{{ url_for('.signup') }}">Sign Up</a>
      </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-transparent fixed-top">
      <div class="container-fluid">
        <!-- logo -->
        <div class="d-flex justify-content-start">
          <a class="navbar-brand site-logo mt-2" href="{{ url_for('.index') }}" draggable="false">
            <img src="{{ url_for('static', filename='Logo2.png') }}" alt="Logo" class="img-fluid" draggable="false">
          </a>
        </div>
  
        <!-- hamburger menu -->
        <span class="hamburger-menu d-block d-md-none">&#9776; </span>

        <!-- navigation links -->
        <!-- (maybe change from ul to a div) -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto justify-content-end">
            <li>
              <a href="{{ url_for('.about') }}" draggable="false">About</a>
            </li>
            <li>
              <a href="{{ url_for('.chat') }}" draggable="false">Chat</a>
            </li>
            {% if current_user.is_anonymous %}
            <li>
              <a id="open-loginform" href="{{ url_for('.login') }}" draggable="false">Login</a>
            </li>
            <li>
              <a id="open-registerform" href="{{ url_for('.signup') }}" draggable="false">Sign Up</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('.logout') }}" draggable="false">logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <script defer src="{{ url_for('static', filename='hamburger.js') }}"></script>
{% endblock %}

<main>
{% block content %}
{% endblock %}
</main>

  <footer>

  </footer>
</body>

</html>
