{% extends "base.html" %}


{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block title %}
Chatroom
{% endblock %}

<!-- Disable header -->
{% block header %}
{% endblock %}


{% block content %}
<div class="chatpage-container">
  <div class="convo-list">
    <div class="container">
      <a class="d-flex justify-content-center" href="{{ url_for('.index') }}" draggable="false">
        <img src="{{ url_for('static', filename='Logo3.png') }}" alt="Logo" class="logo-image" draggable="false">
      </a>
    </div>
    <button id="new-chat"> New Chat </button>
    <div id="conversations">
      <!-- insert list of conversations here -->
      
    </div>
    
  </div>

  <!-- The chat history, scroll bar, and text input -->
  <div class="chatroom-container">
    <div class="scrollbar" id="chat-scrollbar">
      <h1 id="name-title">----</h1>
      <div id="chat-history" class="chat-history">
        <!-- Messages will be inserted here dynamically -->  
      </div>
      <div id="under-chatbox">
        <!-- Some blank area for under the chatbox -->
      </div>
    </div>
    <div class="chatbox-area">
      <div class="chatbox">
        <textarea id="chatbox-content" name="message" placeholder="Send a message..." maxlength="300"></textarea>
        <button id="chatbox-submit"><i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
