{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='chat.js')  }}">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};  // For AJAX requests
</script>
{% endblock %}

{% block title %}
Chatroom
{% endblock %}
{% block content %}

<div class="chatpage-container row">
  <div class="convo-list col-2">
    <ul>
      <!-- insert list of conversations here -->
    </ul>
  </div>

  <!-- The chat history, scroll bar, and text input -->
  <div class="chatroom-container col-10">
    <div class="scrollbar">
      <div id="chat-history">
        <!-- Messages will be inserted here dynamically -->  
      </div>
      <div>
        <div class="chatbox">
          <textarea id="chatbox-content" name="message" placeholder="Send a message..."></textarea>
          <button id="chatbox-submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
