{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block title %}
L0VE
{% endblock %}

{% block header %}

<!-- Sidebar -->
<div class="sidebar d-none d-lg-block">
  <div class="social-media-icons">
    <a href="#"><i class="fa fa-facebook" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa fa-twitter" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa fa-instagram" style="color: #ffffff;"></i></a>
  </div>
</div>
{% endblock %}

{% block content %}
<main>
  <div class="top-banner container-fluid">
    <div class="top-banner-inner container">
      <div class="row">
        <div class="col-md-12 text-centre">
            <h1 class="banner-slogan align-centre">INSERT SLOGAN HERE</h1>
            <h2 class="banner-byline align-centre">WE do something idk our website is very functionally cool.</h2>
        </div>
        <div class="col-md-12 text-centre">
          <img class="banner-image" src="{{ url_for('static', filename='robo.png') }}" alt="Animated robot that greets user visiting the site." class="img-fluid" draggable="false">
        </div>
      </div>
    </div>
  </div>

  <div class="page-content container-fluid">
    <div class="description container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="decription-title">The next-era dating platform for humans and machines alike.</h2>
          <p class="description-text">Quickly find your perfect date using QIMatch - our advanced quantum AI matchmaker.</p>
          <a href="chat.html" class="description-button btn btn-primary">Start Chatting Now!</a>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="https://steamuserimages-a.akamaihd.net/ugc/829071070789454910/806610FE04833C3A97B63F23AEB0842C0EE4668A/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="" draggable="false">
      </div>
    </div>
  </div>
</main>
{% endblock %}