{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<!-- Sidebar -->
<div class="sidebar">
  <div class="social-media-icons">
    <a href="#"><i class="fa fa-facebook" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa fa-twitter" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa fa-instagram" style="color: #ffffff;"></i></a>
  </div>
</div>
</header>

<main>
  <div class="top-banner">
    <div class="top-banner-inner">
      <h1 class="banner-slogan align-centre">INSERT SLOGAN HERE</h1>
      <h2 class="banner-byline align-centre">WE do something idk our website is very functionally cool.</h2>
      <img src="{{ url_for('static', filename='robo.png') }}" alt="Animated robot that greets user visiting the site."
        class="img-fluid" draggable="false">
    </div>
  </div>

</main>
{% endblock %}