{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<!-- Sidebar -->
<div class="sidebar">
  <div class="social-media-icons">
    <a href="#"><i class="fa fa-facebook" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa fa-twitter" style="color: #ffffff;"></i></a>
    <a href="#"><i class="fa fa-instagram" style="color: #ffffff;"></i></a>
  </div>
</div>
</header>

<main>
  <div class="container-fluid">
    <div class="" row">
      <div id="form" class="col-lg-2 offset-5 justify-content-center border border-light">
        <form class="loginForm" action="" method="post" novalidate>
          {{ form.hidden_tag()}}
          <p>
            {{ form.username.label(class="formLabel") }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password.label(class="formLabel") }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label(class="formLabel") }}<br></p>
          <p>{{ form.submit() }}</p>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}