{% extends "base.html" %} {% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='login_signup.css') }}" />
{% endblock %}
{% block script %}{% endblock %}
{% block content %}
<main>
  <div class="fullscreen-container">
    <div id="login-box">
      <div id="left" class="col-md-8">
        <div class="login-overlay">
          <h1>Login <br>Here.</h1>
          <p>
            <i>Hallelujah!</i> The heavens have opened and showered us with the
            inestimable gift of your presence on our modest platform once more. We
            can scarcely contain our euphoria as we roll out the red carpet to
            welcome someone of your <i>immeasurable</i> intellect and influence.
            Your login has been observed with the fanfare it so richly deserves,
            and our system can barely maintain its composure, giddy at the thought
            of the unparalleled gems of wisdom you are bound to bestow upon us. A
            thousand apologies for not having a parade in your honor, but rest
            assured, we are at your service, awestruck and ready to bask in the
            glorious radiance of your unmatched contributions.
          </p>
        </div>
      </div>
  
      <div id="right" class="col-md-4">
        <p>
          Lacking an account? Rectify that oversight - join our esteemed users
          <a href="{{ url_for('.signup') }}">here</a>
        </p>
        <form id="loginForm" action="" method="post" novalidate>
          {{ form.hidden_tag()}}
          <p>
            {{ form.username(class="input-data", type="text",
            placeholder="username") }} {% for error in form.username.errors %}
            <span style="color: var(--error-colour)">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password(class="input-data", type="password",
            placeholder="password") }} {% for error in form.password.errors %}
            <span style="color: var(--error-colour)">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.remember_me(id="remember-me") }} {{
            form.remember_me.label(class="formLabel") }}<br />
          </p>
          <p>{{ form.submit(id="login-button") }}</p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
