{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='hamburger.js') }}">
<script src="{{ url_for('static', filename='scroll.js') }}"> </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="" row">
    <div id="form" class="col-lg-2 offset-5 justify-content-center border border-light">
      <form class="loginForm" action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        <p>
          {{ form.username.label(class="formLabel") }}<br>
          {{ form.username(size=32) }}
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.password.label(class="formLabel") }}<br>
          {{ form.password(size=32) }}
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label(class="formLabel") }}<br></p>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}