body {
    background-color: #051622;
    color: aliceblue;
}



/* ======================== Custom Classes ================================== */

/* Navigation --------------------------------------------------------------- */
.top-header {
    overflow: hidden;
    border-bottom: 2px solid #25d8cc;
    position: sticky;
    top: 0;
    backdrop-filter: blur(6px);
}

.header-nav a {
    color: #25d8cc;
    float: left;
    margin: 14px 16px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.header-nav a:hover {

}

.header-nav a.active {
    background-color: rgba(0, 0, 0, 0.7);
    color: #41e05b;
}


/* Wraps footer nav and notes */
.footer-content {

}

.footer-nav {

}

.footer-notes {

}


/* Wraps every non-header and non-footer elements --------------------------- */
.main-content-container {

}

/* Top page - first part of homepage seen in the viewport ------------------- */

.top-page-container {

}

.top-page-header {

}

.top-page-slogan {

}

.top-page-text {

}

.top-page-foreground-image {

}

.top-page-background-image {

}

.top-page-button {

}

/* Remaining content of the page after top page ----------------------------- */

.tab-content-container {

}

/* Text blocks - displays title, paragraph on left and image on right */
.text-content-container {

}

.text-content {

}

.text-content-image {

}

/* Review blocks - show multiple reviews */
.review-content-container {

}

/* A single review, quote coming out of an avatar */
.review {

}

.review-content-profile {

}

.review-content-text {

}


/* Misc. widget classes ----------------------------------------------------- */

.account-login-signup {

}

.company-logo {

}

.social-links {

}
